    <div id="wrap">
      <div id="header">
        <img src="images/logo-brambilla.jpg" width="490" height="147" alt="Logo Brambilla Soluções no Varejo" />
      </div>
      <div id="container">
        <div id="content">
          <p>A <strong>Brambilla Soluções no Varejo</strong> é especializada em operações de vendas e marketing em todo mercado varejista brasileiro. Com foco em representações comerciais, temos grandes parcerias com empresas nacionais e multinacionais nos setores de informática, eletrodomésticos e eletroportáteis.</p>
          <p>Oferecemos um novo conceito de representação comercial, indo além de apenas operacionalizar vendas, mas acreditando em um engajamento maior com seus parceiros, partindo desde um planejamento estratégico de negócios até ações de marketing e trade marketing.</p>
          <p>Fundada por <strong>Wilson Brambilla</strong>, que com mais de 40 anos de experiência profissional no mercado varejista e com passagem por grandes empresas multinacionais, a Brambilla Soluções no Varejo está baseada no Estado de São Paulo e abrange todo território nacional fornecendo produtos e serviços de qualidade.  Através de um sólido relacionamento estabelecido com os varejistas de todo Brasil, possuímos um alto poder de competitividade.</p>
        </div>
        <div id="form">
          <p><strong>Entre em contato conosco e faça de seus negócios um sucesso:</strong></p>
          <!-- The contact form starts here-->

          <div id="wrap-contact-us">

              <!-- Start HTML form -->

              <form name="form" method="post" action="<?php echo $self;?>" id="commentForm" class="cmxforms frmContact">
                <ol>
                  <li>
                  <!-- Name -->
              <label for="name" class="field"><strong>Nome : </strong></label>
                <div class="full">
                  <input id="name" name="name" type="text" class="required fieldText" size="20" />
                </div>
                </li>
                <li>
              <!-- Email -->
              <label for="email" class="field"><strong>Email : </strong></label>
              <div class="full">
                <input id="email" name="email" type="text" class="required fieldText" size="20" />
              </div>
                </li>
                <li>
              <!-- Website -->
              <label for="phone" class="field"><strong>Telefone : </strong></label>
                <div class="full">
                <input id="phone" name="phone" type="text" class="required fieldText" size="20" />
                </div>
                </li>
                <li>
              <!-- Message -->
              <label for="message" class="field"><strong>Mensagem : </strong></label><br />
                <div class="full textarea">
                <textarea id="message" name="message" type="text" class="required fieldText" rows="10" cols="30"></textarea>
                </div>
                </li>
              </ol>
              <div class="buttons">
              <input type="submit" class="btSend" value="Send" />
              </div>
                <!-- Niceforms: mouse over effect -->
              <!-- Do not remove the line below -->
              <div id="stylesheetTest"></div>

            </form>
                
               
          </div><!-- end #wrap-contact-us -->

        </div><!-- end #form-->
      </div><!-- end #container-->
    </div><!-- end: #wrap -->
